In [18]:
import pandas as pd
from dateutil import parser
from datetime import datetime # for converting and using dates
import pytz

# Load data
articles = pd.read_csv("../../data/processed/gbh_geocoded_output.csv")

In [22]:
# Drop rows without neighborhoods or coordinates
articles.dropna(subset=["Neighborhood", "Coordinates"], inplace=True)

# Group by 'Coordinates', 'Census Tract', and 'Neighborhood' and count the number of articles
articles_by_coordinate = articles.groupby(['Coordinates', 'Census Tract', 'Neighborhood']).size().reset_index(name='Article Count')

# Sort by 'Article Count' in descending order and get the top 10 coordinates
top_10_coordinates = articles_by_coordinate.sort_values(by='Article Count', ascending=False).head(10)

top_10_coordinates = top_10_coordinates.reset_index()
top_10_coordinates = top_10_coordinates.drop(columns="index")
top_10_coordinates

                       Coordinates  Census Tract Neighborhood  Article Count
0        [-71.0588801, 42.3600825]         30302     Downtown            242
1        [-71.1084303, 42.3503433]         10103       Fenway             97
2        [-71.0638101, 42.3587772]         20302  Beacon Hill             69
3          [-71.06694, 42.3516729]         70201     Downtown             26
4          [-71.057993, 42.360406]         30302     Downtown             20
5        [-71.0657256, 42.3550897]        981700     Downtown             18
6        [-71.0201972, 42.3665992]        981300  East Boston             17
7          [-71.06939, 42.3561948]        981700     Downtown             15
8        [-71.0788285, 42.3494163]         10600     Back Bay             12
9  [-71.068767, 42.36256789999999]         20301  Beacon Hill             11

In [24]:
top_coordinate = articles[articles['Coordinates'] == top_10_coordinates["Coordinates"][0]]
second_top = articles[articles['Coordinates'] == top_10_coordinates["Coordinates"][1]]
third_top = articles[articles['Coordinates'] == top_10_coordinates["Coordinates"][2]]

In [25]:
# Function to get the top 5 category based on the number of articles
def get_article_count(data, column):
    count = data[column].value_counts()
    top_count = count.head(10)
    top_count_df = top_count.reset_index()
    top_count_df.columns = [column, "Article Count"]
    return top_count_df

In [27]:
# Count articles by Topic
topic_count1 = get_article_count(top_coordinate, "Closest Topic")
print("\nTop 10 Most Frequented Topics:\n", topic_count1.to_string(index=False))

Top 10 Most Frequented Topics:
        Closest Topic  Article Count
               Other             40
      Local Politics             28
  Politics/Elections             27
Housing/Homelessness             18
          Healthcare             12
     Labor/Workforce             11
         Immigration             10
     Law Enforcement              9
      State Politics              8
    Equity & Justice              7

In [28]:
# Count articles by Topic
topic_count2 = get_article_count(second_top, "Closest Topic")
print("\nTop 10 Most Frequented Topics:\n", topic_count2.to_string(index=False))

Top 10 Most Frequented Topics:
        Closest Topic  Article Count
               Other             18
      Local Politics             14
Housing/Homelessness             11
      State Politics              6
          Healthcare              5
  Politics/Elections              5
    Higher Education              3
               Taxes              3
           Childcare              3
     Labor/Workforce              3

In [29]:

# Count articles by Topic
topic_count3 = get_article_count(third_top, "Closest Topic")
print("\nTop 10 Most Frequented Topics:\n", topic_count3.to_string(index=False))

Top 10 Most Frequented Topics:
          Closest Topic  Article Count
        State Politics             11
  Housing/Homelessness              9
    Politics/Elections              9
        Local Politics              6
         Public Health              4
         Gender issues              4
            Healthcare              4
Accessiblity/Disablity              3
      Equity & Justice              3
      Higher Education              2

: